* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  background-image: url(https://www.pexels.com/photo/water-bubbles-in-close-up-view-3445718);
  color: white;
  /*background-color: rgb(0, 0, 0, 0.5);*/
}
header {
  margin-top: 200px;
  margin-left: 200px;
  height: auto;
  width: 800px;
  background-color: rgb(0, 0, 0, 0.3);
}
input {
  height: 44px;
  width: 600px;
  border-radius: 1%;
  margin: 10px 20px;
  background-color: rgb(0, 0, 0, 0);
}
label {
  margin: 10px 20px;
}
legend {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
legend:hover {
  color: orange;
}
#submit input {
  margin: auto;
  color: white;
}
